@import 'bulma/bulma.sass';

@font-face {
	font-family: tunfont100;
	src: url('./fonts/fangzheng.ttf');
}

body,
button,
input,
select,
textarea {
	font-family: tunfont100 !important;
}

html {
	overflow: auto;
}

.tabs:not(:last-child){
    margin-bottom: 0;
}
