@import 'bulma/sass/utilities/initial-variables.sass';
$tun_nav_bg: $primary;
.tun-navbar {
	align-items: center;
	padding: 0 17px;
	border: 1px solid $tun_nav_bg;
	border-bottom: none;
	border-top: none;
	background: $tun_nav_bg;
	color: white;
	font-size: 22px;
	font-weight: bold;
}
