@import 'bulma/sass/utilities/initial-variables.sass';
.tun-navbar {
	align-items: center;
	padding: 0 17px;
	border: 1px solid #4ba391;
	border-bottom: none;
	border-top: none;
	background: $primary;
	color: white;
    font-size: 22px;
    font-weight: bold;
}
